<div class="menu-container" th:fragment="navigation">
    <nav>
        <div class="menu">
            <div class="menu-name">
<!--                <img th:src="@{/static/images/logo.png}" th:class="nav-logo"/>-->
               <div class="name">Happy Pet Scheduling</div>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">Appointments</a></li>
                    <li><a href="#">Reports</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>